<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.github.poke.tweeplusreader" android:versionCode="2"
	android:versionName="1.0" android:installLocation="auto">
	<uses-sdk android:targetSdkVersion="10" android:minSdkVersion="5" />
	
	<application android:label="@string/app_name" android:icon="@drawable/icon">
		<activity android:name=".TweePlusReader" android:theme="@style/Theme.Transparent"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:scheme="http" android:host="tweeplus.com" />
			</intent-filter>
		</activity>

		<activity android:name=".TwiccaPluginActivity" android:label="@string/shorten">
			<intent-filter>
				<action android:name="jp.r246.twicca.ACTION_EDIT_TWEET" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
	</application>
</manifest>